# General
aws_region  = "ap-southeast-1"
environment = "dev"

# Networking
vpc_id             = "vpc-xxxxxxxxxxxxxxxxx"
private_subnet_ids = ["subnet-xxxxxxxxxxxxxxxxx", "subnet-yyyyyyyyyyyyyyyyy"]
vpc_cidr_block     = "10.0.0.0/16"

# S3
data_bucket_name_prefix  = "storage-data"
macie_bucket_name_prefix = "storage-macie-findings"

# Macie
macie_finding_frequency = "ONE_HOUR"
macie_pii_regex         = "\\b\\d{3}-\\d{2}-\\d{4}\\b"

# RDS (MySQL)
rds_engine_version        = "8.0"
rds_instance_class        = "db.t3.medium"
rds_allocated_storage     = 20
rds_db_name               = "appdb"
rds_master_username       = "dbadmin"
rds_master_password       = "Ch4ngeMe!Str0ng#2025"
rds_backup_retention_days = 7
rds_multi_az              = true
rds_deletion_protection   = true
rds_skip_final_snapshot   = false

# EFS
efs_performance_mode = "generalPurpose"
efs_throughput_mode  = "bursting"
