# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# Reports & outputs
report.json
*.json

# OS
.DS_Store

# Project specific
/scripts/Ver_Cloudtrail/__pycache__/
/scripts/Ver_Cloudtrail/.pytest_cache/

#Terraform
.terraform/
*.tfstate
*.tfstate.backup