aws_region                     = "ap-southeast-1"
environment                    = "dev"
trail_name                     = "main-cloudtrail"
log_bucket_name_prefix         = "cloudtrail-logs"
is_multi_region_trail          = true
include_global_service_events  = true
enable_log_file_validation     = true
