name_prefix = "cis-baseline-dev"

common_tags = {
  Project     = "cis-baseline"
  Environment = "dev"
  ManagedBy   = "Terraform"
  Compliance  = "cis-aws-foundations"
}

cloudtrail_retention_days             = 365
config_snapshot_delivery_frequency    = "TwentyFour_Hours"
enable_s3_data_event_read_logging     = true
enable_s3_data_event_write_logging    = true
